{
  "apiVersion": "apps/v1",
  "kind": "Deployment",
  "metadata": {
    "name": "{{model_name}}",
    "namespace": "ml-demo",
    "labels": {
      "app": "{{model_name}}"
    }
  },
  "spec": {
    "replicas": 1,
    "selector": {
      "matchLabels": {
        "app": "{{model_name}}"
      }
    },
    "template": {
      "metadata": {
        "labels": {
          "app": "{{model_name}}"
        }
      },
      "spec": {
        "containers": [
          {
            "name": "{{image_name}}",
            "image": "{{image_name}}:{{image_version}}",
            "ports": [
              {
                "containerPort": 8080
              }
            ],
            "env": [
              {
                "name": "model_name",
                "value": "{{model_name}}"
              }
            ]
          }
        ]
      }
    }
  }
}